<a href="https://colab.research.google.com/github/nsriniva/lambdata/blob/main/lambdata_311.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!python --version

!pip install -i https://test.pypi.org/simple/ --upgrade lambdata-nsriniva

Python 3.6.9
Looking in indexes: https://test.pypi.org/simple/
Collecting lambdata-nsriniva
  Downloading https://test-files.pythonhosted.org/packages/4c/18/0cf774d336a0c60ec94e458909a991cf59b081d85259dbfed0b7c5380f02/lambdata_nsriniva-0.0.8-py3-none-any.whl
Requirement already satisfied, skipping upgrade: pandas in /usr/local/lib/python3.6/dist-packages (from lambdata-nsriniva) (1.1.5)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas->lambdata-nsriniva) (1.19.5)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->lambdata-nsriniva) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->lambdata-nsriniva) (2018.9)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->lambdata-nsriniva) (1.15.0)
Installing collected packages: lambdata-nsriniva
  Found existing installation: lambdata-nsriniva 0.0.7
    Uninstalling lambdata-nsriniva-0.0.7:
      Successfully uninstalled lambdata-nsriniva-0.0.7
Successfully installed lambdata-nsriniva-0.0.8

In [6]:
from lambdata_nsriniva import helper_functions

null_count = helper_functions.null_count

abbr_2_st = helper_functions.abbr_2_st

In [7]:
from pandas import DataFrame, Series
from numpy import NaN

ST_ABBR = ('st','abbr')

Null_DF = DataFrame({'col0':[NaN, 4, 3],'col1':[9,NaN, NaN], 'col2':[10, 2, 2]})

abbr_st = DataFrame({ST_ABBR[1]:['AL', 'AZ', 'CA', 'DE', 'OH'], ST_ABBR[0]:['Alabama','Arizona','California','Delaware','Ohio']})

display(Null_DF)
display(abbr_st)

print(f'Null Count : {null_count(Null_DF)}\n')
print(f'Output Series:\n{abbr_2_st(abbr_st[ST_ABBR[1]])}\n')
print(f'Output Series:\n{abbr_2_st(abbr_st[ST_ABBR[0]], False)}\n')

   col0  col1  col2
0   NaN   9.0    10
1   4.0   NaN     2
2   3.0   NaN     2

  abbr          st
0   AL     Alabama
1   AZ     Arizona
2   CA  California
3   DE    Delaware
4   OH        Ohio

Input DataFrame:
   col0  col1  col2
0   NaN   9.0    10
1   4.0   NaN     2
2   3.0   NaN     2
Null Count : 3

Input Series:
0    AL
1    AZ
2    CA
3    DE
4    OH
Name: abbr, dtype: object
Output Series:
st    [Alabama, Arizona, California, Delaware, Ohio]
dtype: object

Input Series:
0       Alabama
1       Arizona
2    California
3      Delaware
4          Ohio
Name: st, dtype: object
Output Series:
abbr    [AL, AZ, CA, DE, OH]
dtype: object